<span class="fill-remaining-space" ></span>



<mat-nav-list  >
  <a mat-list-item routerLink="/dashboard" (click)="onSidenavClose()"  >
    <mat-icon  >dashboard</mat-icon> <span class="nav-caption"   >Dashboard</span>
  </a>
  <mat-divider></mat-divider>
  <a mat-list-item routerLink="/products" (click)="onSidenavClose()">
    <mat-icon>vertical_split</mat-icon> <span class="nav-caption">Products</span>
  </a>
  <mat-divider></mat-divider>


  <!-- <a mat-list-item routerLink="/clientlist"  *ngIf="isAdmin" (click)="onSidenavClose()">
    <mat-icon>assessment</mat-icon> <span class="nav-caption">Only Admin</span>
  </a>
  <mat-divider></mat-divider> -->


  <a mat-list-item routerLink="/purchaseproduct" (click)="onSidenavClose()">
    <mat-icon>assignment_turned_in</mat-icon> <span class="nav-caption">Purchased Products</span>
  </a>
  <mat-divider></mat-divider>

  <a mat-list-item routerLink="/productsused" (click)="onSidenavClose()">
    <mat-icon>assessment</mat-icon> <span class="nav-caption">Daily Report</span>
  </a>
  <mat-divider></mat-divider>

 


  <a mat-list-item [matMenuTriggerFor]="vertebrates" style="color: black;" >
    <mat-icon>low_priority</mat-icon> <span class="nav-caption">Orders</span>
  </a>

<mat-menu #vertebrates="matMenu" class="menuu">
  <button mat-menu-item  routerLink="/allorders" ><mat-icon>table_chart</mat-icon>All Orders</button>
  <button mat-menu-item routerLink="/onlyorders"><mat-icon>gamepad</mat-icon>Orders In Production</button>
  <button mat-menu-item routerLink="/dispatch"><mat-icon>swap_horiz</mat-icon>Dispatch</button>
  <button mat-menu-item routerLink="/onlycompleted"><mat-icon>done_all</mat-icon>Completed</button>

</mat-menu>
 
  <mat-divider></mat-divider>




  <a mat-list-item [matMenuTriggerFor]="vertebrates1" style="color: black;" >
    <mat-icon>supervisor_account</mat-icon> <span class="nav-caption">Client</span>
  </a>
  <mat-menu #vertebrates1="matMenu" class="menuu">
    <button mat-menu-item  routerLink="/allclientadd" ><mat-icon>contact_mail</mat-icon>Add Client</button>
    <button mat-menu-item routerLink="/clientlist"><mat-icon>how_to_reg</mat-icon>Add Client Price</button>
    <button mat-menu-item routerLink="/dclist"><mat-icon>chrome_reader_mode</mat-icon>Add DC</button>

  </mat-menu>

  <mat-divider></mat-divider>

    
  <!-- <a mat-list-item routerLink="/dclist" (click)="onSidenavClose()">
    <mat-icon>chrome_reader_mode</mat-icon> <span class="nav-caption">DC List</span>
  </a>
  <mat-divider></mat-divider> -->

  
  <a mat-list-item href="https://annapurnaengineers.github.io/final-host/(print:print/invoice)" target="_incognito" (click)="onSidenavClose()">
    <mat-icon>commute</mat-icon> <span class="nav-caption">DC Print</span>
  </a>

  <mat-divider></mat-divider>

  <a mat-list-item href="https://annapurnaengineers.github.io/final-host/(print:print/fianlinvoice)" target="_incognito" (click)="onSidenavClose()">
    <mat-icon>assignment</mat-icon> <span class="nav-caption">Statement Print</span>
  </a>

  <mat-divider></mat-divider>

  <a mat-list-item routerLink=""  (click)="onLogout()">
    <mat-icon>power_settings_new</mat-icon> <span class="nav-caption">Logout</span>
  </a>

  <mat-divider></mat-divider>

 
 
</mat-nav-list>
<div  style="margin-top: 190px;color: rgb(182, 182, 182);">
  <h2>Your IP : {{ipAddress}}</h2>
  </div>

<!-- <mat-list-item [matMenuTriggerFor]="menu" style="color: black;">
  <mat-icon>power_settings_new</mat-icon> <span class="nav-caption">Logout</span>
</mat-list-item>
<mat-menu #menu="matMenu">
  <a mat-list-item routerLink="/dispatch"  (click)="onLogout()">
    <mat-icon>power_settings_new</mat-icon> <span class="nav-caption">Logout</span>
  </a>
  <a mat-list-item routerLink="/products" (click)="onSidenavClose()">
    <mat-icon>vertical_split</mat-icon> <span class="nav-caption">Products</span>
  </a>
</mat-menu>
 -->





<!-- 
  <mat-nav-list>

    <a mat-list-item [routerLink]="'/Products'"> Products </a>
    <a mat-list-item [routerLink]="'/Dispatch'"> Dispatch </a>
    <a mat-list-item [routerLink]="'/Report'"> Reports </a>
    <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>

  </mat-nav-list> -->