<!DOCTYPE html>
<html>

<head>
  <title>Invoice For Annapurna Engineers</title>
  <meta charset='utf-8'>
  <meta name="description" content="Annapurna Engineers PVT LTD">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>


</head>

<body ng-app="invoicing" ng-controller="InvoiceCtrl">
  <div class="container" width="800px" id="invoice">
    <div class="row">
      <div class="col-xs-12 heading">
        QUOTATION INVOICE
      </div>
    </div>
    <div class="row branding">
      <div class="col-xs-6">
        <div class="invoice-number-container">
          <label for="invoice-number">Quotation No #</label><input type="text" id="invoice-number"
            ng-model="invoice.invoice_number" />
          <br>
          <label for="invoice-date"> Invoice Date :</label> {{today | date}}
        </div>
      </div>
      <div class="col-xs-6 logo-container">
        <input type="file" id="imgInp" />
        <!-- <img ng-hide="logoRemoved" id="company_logo" ng-src="{{ logo }}" alt="your image" width="200" /> -->
        <div>

        </div>
      </div>
    </div>
    <div class="row infos">
      <div class="col-xs-6">
        <label style="font-weight: lighter;"> Client Name :</label>{{selectedclient | titlecase}}
        <br>
        <label style="font-weight: lighter;"> Location :</label>{{selectedlocation | titlecase}}
        <!-- <div class="input-container"><input type="text" placeholder="Address2" /></div> -->
        <!-- <div class="input-container"><input type="text" placeholder="State" /></div> -->
        <div class="input-container"> <label style="font-weight: lighter;"> Phone Number :</label><input type="text"  placeholder="Enter Phone Number" /></div>
        <div class="input-container" data-ng-hide='printMode'>
          <!-- <select ng-model='currencySymbol' ng-options='currency.symbol as currency.name for currency in availableCurrencies'></select> -->
        </div>
      </div>
      <!-- <div class="col-xs-6 right">
        <div class="input-container"><input type="text" ng-model="invoice.company_info.name"/></div>
        <div class="input-container"><input type="text" ng-model="invoice.company_info.address1"/></div>
        <div class="input-container"><input type="text" ng-model="invoice.company_info.address2"/></div>
        <div class="input-container"><input type="text" ng-model="invoice.company_info.postal"/></div>
        <div class="input-container"><input type="text" ng-model="invoice.company_info.phone"/></div>
      </div> -->
    </div>
    <hr>
    <form  [formGroup]="Test">
      <div class="form-row" *ngIf="isShown">

        <div class="form-group col-md-6">
          <label for="clientname">Client Name</label>
          <select class="form-control" (change)="changedvalue1($event)" required>
            <option value="" disabled selected>Select Client</option>
            <option >Choose Client</option>
            <option *ngFor="let cat of clientlist ">{{cat.clientname}}</option>
          </select>
        </div>
      
        <div class="form-group col-md-6">
          <label style="margin-left: 20px;" >Select Products</label>
          <br>
          <!-- <select formControlName="productname" class="form-control"   required>
            <option value="" disabled selected>Select Products</option>
            <option >Check Products</option>
            <option *ngFor="let cat of productname">{{cat.productname}}</option>
          </select> -->


    
          <!-- (selectionChange)="changedvalue3($event.value)" -->
        <mat-form-field style="margin-left: 10px;">
            <!-- <mat-label >Select Products</mat-label> -->
            <mat-select [formControl]="toppings" multiple (closed)="onPanelClose()"   (selectionChange)="changedvalue3($event.value)" >
        
                  <mat-form-field class="example-full-width">
                      <input matInput
                     [formControl]="productname2"
                     type="text"
                     name="filter-options"
                     id="filter-options"
                     placeholder="Search"  >
              </mat-form-field>
              <mat-option *ngFor="let item of filteredOptions | async" [value]="item.name" 
                [ngClass]="{'hide': !item.show}">
                {{item.name}}
              </mat-option>
            </mat-select>
        </mat-form-field>
      </div>

      
      </div>
    </form>
   
    <button type="button"   class="btn btn-primary"  (click)="toggleShow() ">Click This Button Before Print</button>
    <button class="button" class="btn btn-primary" style="margin-left: 10px;" (click)="printPage()">Print</button>

</div>
    <div class="  mat-elevation-z8" >
      <mat-table class="lessons-table mat-elevation-z8"  [dataSource]="patientdatasource1" matSort  matSortDirection="asc">
        <ng-container matColumnDef="sno">
          <mat-header-cell *matHeaderCellDef mat-sort-header>S.No</mat-header-cell>
          <mat-cell *matCellDef="let lesson;let i = index">{{ i + 1 }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="productname">
          <mat-header-cell *matHeaderCellDef mat-sort-header >Item</mat-header-cell>
          <mat-cell  *matCellDef="let lesson">{{lesson.productname | titlecase}}</mat-cell>  
      </ng-container>
      <ng-container matColumnDef="clientprice">
        <mat-header-cell *matHeaderCellDef mat-sort-header>₹ Price Per Unit</mat-header-cell>
        <mat-cell  *matCellDef="let lesson" >{{lesson.clientprice}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
        <mat-cell *matCellDef="let element;let i = index">
            <mat-form-field floatLabel="never">
                <input matInput placeholder="Quantity" (input)=" addvalue($event,i)" [value]="element.quantity" [(ngModel)]="element.quantity">
            </mat-form-field>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="total">
        <mat-header-cell *matHeaderCellDef>₹ Total </mat-header-cell>
        <mat-cell *matCellDef="let element;let i = index">
            <mat-form-field floatLabel="never">
                <input matInput placeholder="Total" [value]="total[i]"  [(ngModel)]="element.total">
            </mat-form-field>
        </mat-cell>
    </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns" style="justify-self: start;;"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns" ></mat-row>
      </mat-table>



 

</div>


</body>

</html>