
<div id="modal-content-wrapper">
    <form [formGroup]="addAllorders" name="add" (ngSubmit)="submit()">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="invoiceid">Invoice No</label>
            <input type="text" class="form-control" formControlName="invoiceid" placeholder="Enter Invoice No." required >
          </div>
          <div class="form-group col-md-4">
            <label for="category">Category</label>
            <!-- <input type="text" class="form-control"  class="custom-control-input" placeholder="category"> -->
            <!-- <input type="category"  class="custom-control-input" id="category"  placeholder="category">
            <select id="category"  formControlName="category" (change)="changedvalue1($event)" class="form-control">
                <option [ngValue]="null" selected disabled>Select Category</option>
                <option *ngFor="let cat of category1"  [ngValue]="category" >
                    {{cat.category}}
             </option>
            </select> -->
           
            <select formControlName="category" class="form-control" (change)="changedvalue1($event)" required >
                <option value="" disabled selected>Select Category</option>
                <!-- <option>Choose Category</option> -->
                <option *ngFor="let cat of category2">{{cat}}</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="productname">Item</label>
            <select formControlName="productname" class="form-control" required  >
                <option value="" disabled selected>Select Product</option>
                <!-- <option >Choose Product</option> -->
                <option *ngFor="let product of productname1">{{product.productname}}</option>
            </select>
          </div>
        </div>
        
        <div class="form-row">
          <div class="form-group col-md-6">
          <label for="clientname">Client Name</label>
          <input type="text" class="form-control" formControlName="clientname" placeholder="Enter Client Name" required >
         </div>
        
          <div class="form-group col-md-6">
          <label for="clientprice">Client Price</label>
          <input type="number"  class="form-control" (input)="addvalue()" formControlName="clientprice" placeholder="Total Bill Price" required >
        </div>
       
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="advancereceived">Advance Received</label>
            <input type="number"  class="form-control" (input)="addvalue()" formControlName="advancereceived" placeholder="Enter Advance Amount" required>
          </div>
          <div class="form-group col-md-6">
            <label for="tobepaid">Balance Amount</label>
            <input type="number"  class="form-control" disabled [(ngModel)]="totalCount" formControlName="tobepaid" required >
          </div>
        </div>

        <div class="form-row">  
          <div class="form-group col-md-4">
            <label for="location">Location</label>
            <!-- <input type="location"  class="custom-control-input" id="location"> -->
            <select  class="form-control" formControlName="location" required>
                <option value="" disabled selected>Select Workshop</option>
                <!-- <option disabled>Choose Workshop</option> -->
              <option  selected>Workshop 1</option>
              <option  selected>Workshop 2</option>
              <option  selected>Workshop 3</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="quantity">Quantity</label>
            <input type="number" class="form-control" formControlName="quantity" placeholder="Enter Quantity" required>
          </div>
     <div class ="form-group col-md4">
        <mat-form-field>
            <label for="expecteddate">Expected Date</label>
            <input (dateInput)="inputEvent($event)"  matInput [matDatepicker]="myPicker"  formControlName="expecteddate"  [min]="minDate" value ="{{expecteddate | date :'yyyy-MM-dd'}}" required  >
            <mat-datepicker-toggle  matSuffix [for]="myPicker"></mat-datepicker-toggle> 
            <mat-datepicker #myPicker></mat-datepicker>
        </mat-form-field>

     </div>
        </div>


       
      </form>
   
    <footer id="modal-footer">
      <button mat-raised-button   id="modal-cancel-button" style='margin-right:16px' (click)="closeModal()">Cancel</button>
      <button mat-raised-button [disabled]="addAllorders.controls['invoiceid' || 'productname' || 'category' ||'clientname' || 'clientprice' || 'expecteddate'].invalid"  id="modal-action-button" style='margin-right:16px' (click)="submit()">Save</button>
      
  </footer>
</div>