<div id="modal-content-wrapper">
    <form [formGroup]="addProduct" (ngSubmit)="submit()">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="category">Category</label>
            <select formControlName="category" class="form-control" (change)="changedvalue1($event)" required >
              <option value="" disabled selected>Select Category</option>
              <!-- <option>Choose Category</option> -->
              <option *ngFor="let cat of category2">{{cat}}</option>
          </select>
          </div>
          <div class="form-group col-md-6">
            <label for="category">Item Name</label>
            <select formControlName="productname" class="form-control" required (change)="changedvalue2($event)" >
              <option value="" disabled selected>Select Product</option>
              <!-- <option >Choose Product</option> -->
              <option *ngFor="let product of productname1">{{product.productname}}</option>
          </select>
          </div>
          <!-- <div class="form-group col-md-4">
            <label formControlName="productcode" class="form-control" for="productcode">Code</label>
            <option disabled *ngFor="let product of productname1">{{product.productcode}}</option>
          </div> -->
        </div>
        
     

        <div class="form-row">  
          <div class="form-group col-md-6">
            <label for="clientname">Client Name</label>
            <input type="text"   class="form-control" formControlName="clientname">
          </div>
          <div class="form-group col-md-6">
            <label for="clientcode">Client Code</label>
            <input type="text"   class="form-control" formControlName="clientcode">
          </div>
         
        </div>
        <div class="form-row">  
            <div class="form-group col-md-6">
                <label for="clientlocation">Client Location</label>
                <input type="text"  class="form-control" formControlName="clientlocation">
            </div>
            <div class="form-group col-md-6">
              <label for="clientprice">Client Price</label>
              <input type="text"   class="form-control" formControlName="clientprice">
            </div>
          </div>

      
       
      </form>
   
    <footer id="modal-footer">
      <button mat-raised-button   id="modal-cancel-button" style='margin-right:16px' (click)="closeModal()">Cancel</button>
      <button mat-raised-button   id="modal-action-button" style='margin-right:16px' (click)="submit()">Save</button>
      
  </footer>
</div>