<div class="form-row parent">
    <div class="col-md-4" fxFlex="40%">
      <mat-form-field style="text-align:center;text-decoration: black;">
        <input matInput type="text" style="color:purple;" (keyup)="doFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
   </div>
  <!-- <div class="col-md-4">
    <mat-form-field >
      <input matInput [matDatepicker]="picker" placeholder="Choose a date"  (ngModelChange)="modelChanged($event.target.value)"  (dateInput)="inputEvent($event)" (dateChange)="changeEvent($event)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  
  </div> -->
 
  <div  class="col-md-4" style="margin-left: -130px !important; margin-right: 60px;" >
    <select  formControlName="clientname" class="form-control" (change)="changedvalue1($event)" required>
      <option value="" disabled selected>Select Client</option>
      <option>Choose Client</option>
      <option *ngFor="let cat of clientname ">{{cat.clientname}}</option>
    </select>
  </div>

  
    <div >
      <!-- <button mat-button style="color:#ffffff;background-color:#003366; " (click)="refresh()"><mat-icon>cached</mat-icon></button>
      &nbsp;&nbsp;&nbsp;  -->
      <button mat-button   style="color:#ffffff;background-color:#003366;" (click)="openModal1()">Add Client Price</button>
      &nbsp;&nbsp;&nbsp; 
      <button mat-button style="color:#ffffff;background-color:#003366; " (click)="ExportTOExcel()"><mat-icon style="margin-right: 10px;">get_app</mat-icon>Export</button>
  </div>
  
  
  </div>
  
  
    <div class=" test mat-elevation-z9">
      
     
    <mat-table class="lessons-table mat-elevation-z8"  [dataSource]="patientdatasource" matSort  matSortStart="desc" >
      <ng-container matColumnDef="sno">
        <mat-header-cell *matHeaderCellDef mat-sort-header>S.No</mat-header-cell>
        <mat-cell *matCellDef="let lesson;let i = index" >{{ i + 1 }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="clientname">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Client Name</mat-header-cell>
        <mat-cell  *matCellDef="let lesson">{{lesson.clientname}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="clientcode">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Client Code</mat-header-cell>
        <mat-cell  *matCellDef="let lesson" style="text-indent: 30px;">{{lesson.clientcode}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="category">
        <mat-header-cell *matHeaderCellDef mat-sort-header >Category</mat-header-cell>
        <mat-cell  *matCellDef="let lesson">{{lesson.category}}</mat-cell>  
    </ng-container>
      <ng-container matColumnDef="productname">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Product Name</mat-header-cell>
          <mat-cell *matCellDef="let lesson" style="text-indent: 20px;">{{lesson.productname}}</mat-cell>
      </ng-container>     
  <ng-container matColumnDef="clientprice">
  <mat-header-cell *matHeaderCellDef mat-sort-header>Client Price</mat-header-cell>
  <mat-cell  *matCellDef="let lesson" style="text-indent: 40px;" >{{lesson.clientprice}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="clientlocation">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Client Location</mat-header-cell>
    <mat-cell  *matCellDef="let lesson" style="text-indent: 40px;">{{lesson.clientlocation}}</mat-cell>
    </ng-container>
 
  <ng-container matColumnDef="createddate">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Created Date</mat-header-cell>
    <mat-cell  *matCellDef="let lesson"style="text-indent: 25px;" >{{lesson.createddate | date : 'longDate'}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="lastupdated">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Last Updated</mat-header-cell>
    <mat-cell  *matCellDef="let lesson" style="text-indent: 20px;">{{lesson.lastupdated | date : 'longDate'}}</mat-cell>
    </ng-container>
  <ng-container matColumnDef="actions">
  <th mat-header-cell  *matHeaderCellDef > Actions </th>
  <td mat-cell *matCellDef="let lesson"  >
    <!-- <button mat-button >Edit</button> -->
    <button mat-icon-button  color="warn" matTooltip="Edit" matTooltipPosition="above" (click)="openModal(lesson)"><mat-icon>more_vert</mat-icon></button>
    <button mat-icon-button color="warn"  matTooltip="Delete" matTooltipPosition="above"  (click)="deleteUser(lesson._id,lesson.productname)"  ><mat-icon>delete</mat-icon></button>
  
  </td>
  
  </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns" ></mat-row>
  
  </mat-table>
  <mat-paginator #scheduledOrdersPaginator [pageSizeOptions]="[15 , 20, 25]" showFirstLastButtons></mat-paginator>
  
  <!-- <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="setPageSizeOptions($event)">
  </mat-paginator> -->
  
  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#1863c5" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
  </div>