<head>
  <link href="https://fonts.googleapis.com/css2?family=KoHo&display=swap" rel="stylesheet">
</head>
<table>
    <thead><tr><td>
      <div class="header-space">&nbsp;</div>
    </td></tr></thead>
    <tbody><tr><td>
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </td></tr></tbody>
    <tfoot><tr><td>
      <div class="footer-space">&nbsp;</div>
    </td></tr></tfoot>
  </table>
  
  <div class="page-header " >
   
    <img src="assets\logo.png" width="180px" height="70px" style="padding-top: 0px !important;margin-left: 30px;margin-bottom: 50px !important;" >

  <div class="b " style="margin-left: 200px;">
 <h1 style="font-family: 'KoHo', sans-serif; font-size: xx-large;">Annapurna Engineers</h1> 
 <p style="text-align: center;">Kukatpally, Hyderabad, Telangana, India</p>
</div>
  </div>
  <div class="page-footer"  >
 <p style="text-align: center;">Computer Generated Invoice</p>   
  </div>