.test{
 
  /* border:1px solid white; */
  margin: 30px;
  margin-top: 20px;
}

.mat-table__wrapper .mat-table {
  min-width: auto !important;
  width: 100% !important;
}

.mat-header-row {
  width: 100%;
}

.mat-row {
  width: 100%;
}


.parent {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: row;
 margin-top: 20px;
}
mat-header-cell, mat-cell {
  justify-content: center !important;
}

table {
  text-align: center !important;
  justify-content: center !important;
  width: 100%;
}

.mat-sort-header-container {
  justify-content: center !important;
  text-align: justify !important;
  width: 100%;
}

.w-75{
  max-width: 100px;
  padding-right: 0px;
}

.w-70{
  max-width: 100%;
  flex-direction: row;
  /* justify-content: flex-start !important; */
  text-align: center !important;
  padding-right: 60px;

}
/* .mat-row{
  justify-content: center !important;
  text-align: center !important;
  width: 100%;
} */

/* .mat-column {
  display: flex !important;
  justify-content: right !important;
  } */

  
  td, th {
    text-align: center !important;
    vertical-align: middle !important;
}

.mat-sort-header-container {
    justify-content: center !important;
}

mat-cell, mat-header-cell, mat-footer-cell {
text-align: center !important;
}

