
<div id="modal-content-wrapper">
    <form *ngIf="usedproduct">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="category">Category</label>

                <input type="text" class="form-control" disabled id="category" required
                    [(ngModel)]="usedproduct.category" name="category">

            </div>
            <div class="form-group col-md-6">
                <label for="productname">Product</label>
                <input type="text" class="form-control" disabled id="productname" required
                    [(ngModel)]="usedproduct.productname" name="productname">
            </div>
            <!-- <div class="form-group col-md-4">
                <label for="productcode">Product Code</label>
                <input type="text" class="form-control" disabled id="productcode" required
                    [(ngModel)]="usedproduct.productcode" name="productcode">
            </div> -->
        </div>
        <div class="form-row">


            <div class="form-group col-md-6">
                <label for="clientname">Client Name</label>
                <input type="text" class="form-control" disabled id="clientname" required
                    [(ngModel)]="usedproduct.clientname" name="clientname">
            </div>

            <div class="form-group col-md-6">
                <label for="clientcode"> Client Code</label>
                <input type="text" class="form-control"  id="clientcode" [(ngModel)]="usedproduct.clientcode"
                    name="clientcode">
            </div>

        </div>
        <div class="form-row">

            <div class="form-group col-md-6">
                <label for="clientlocation">Client Location</label>
                <input type="text" class="form-control" id="clientlocation" [(ngModel)]="usedproduct.clientlocation"
                    name="clientlocation">
            </div>
            <div class="form-group col-md-6">
                <label for="clientprice"> Client Price</label>
                <input type="text" class="form-control" id="clientprice" [(ngModel)]="usedproduct.clientprice"
                    name="clientprice">
            </div>
        </div>





    </form>
    <footer id="modal-footer">
        <button mat-raised-button id="modal-cancel-button" style='margin-right:16px'
            (click)="closeModal()">Cancel</button>
        <button mat-raised-button id="modal-action-button" style='margin-right:16px'
            (click)="actionFunction()">Save</button>

    </footer>
</div>